<!DOCTYPE html>
<html lang='en'>

<head>
    <title>your page title goes here</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
</head>

<body>
    <label for="collapse_contact">Collapse</label>
    <input type="checkbox" id=collapse_contact>

    <label for="edit_contact">Edit</label>
    <input type="checkbox" id=edit_contact>
    <h2>Name: Alex Frank</h2>
    <img src="../public/images/profiles/profile-alex-frank_.jpg" alt="alex frank profile">
    <dl>
        <dt>phone</dt>
        <dd>1-888-867-5390</dd>
        <dt>email</dt>
        <dd>bitme@gmail.com</dd>
    </dl>
</body>

</html>