<!DOCTYPE html>
<html lang='en'>

<head>
    <title>your page title goes here</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
</head>

<body>
    <header>
        <h1>Contacts</h1>
        <img src="../public/images/add-fab.png" alt="add a contact">
        <img src="../public/images/search-icon.png" alt="search">
    </header>
    <main>

    </main>
    <ul>
        <li>Adam Smith</li>
        <li>Alex Frank</li>
        <li>Alfred</li>
        <li>Arthur Clark</li>
        <li>Beatrice</li>
        <li>Beyonce Smith</li>
    </ul>
</body>

</html>