<section class="page">
    <header roll="homepage-header" id="homepage-header">
        <h1>Contacts</h1>
        <div id="wrapper-add-fab">
            <label for="edit_contact" roll="link" id="add-contact"><img src="/images/add-fab.png"
                    alt="add a contact"></label>
        </div>
        <form roll="search-form" method="get">
            <input type="text" id="search" name="q" placeholder="Search">
            <button><img src="/images/search-icon.png" alt="search"></button>
        </form>
    </header>
    <main>
        <article>
            <ul class="contacts">
                <% @result&.each do |tuple|%>
                    <% link_to_contact=@path_info + "/" + tuple["id"] %>
                    <li>
                        <a href="<%= link_to_contact %>">
                            <%= full_name(first_name: tuple["first_name"], last_name: tuple["last_name"])%>
                        </a>
                    </li>
                <% end %>
                <% unless @result %>
                    <li><a href="contacts/100001">Adam Smith</a></li>
                    <li><a href="contacts/100002">Alex Frank</a></li>
                    <li><a href="contacts/100003">Alfred</a></li>
                    <li><a href="contacts/100004">Arthur Clark</a></li>
                    <li><a href="contacts/100005">Beatrice</a></li>
                    <li><a href="contacts/100006">Beyonce Smith</a></li>
                <% end %>
            </ul>
        </article>
    </main>
    <footer>
        <h2>View Additional Contacts</h2>
        <nav class="pagination">
            <ul>
                <li><a href="?page=1">1</a></li>
                <li><a href="?page=2">2</a></li>
                <li><a href="?page=3">3</a></li>
                <li><a href="?page=4">4</a></li>
                <li><a href="?page=5">5</a></li>
            </ul>
        </nav>
    </footer>
    <input type="checkbox" id=edit_contact class="hidden">
    <section class="modal">
        <article roll="edit-form-wrapper">
            <form roll="edit-form" method="post" action="/contacts">
                <dl>
                    <dt><label for="profile_pic">Update profile picture:</label></dt>
                    <dd><input type="file" id="profile_pic" name="profile_pic" accept="image/png, image/jpeg"
                            size="2097152"></dd>

                    <dt><label for="first_name">first name</label></dt>
                    <dd><input type="text" id="first_name" name="first_name" value="John" required></dd>

                    <dt><label for="last_name">last name</label></dt>
                    <dd><input type="text" id="last_name" name="last_name" value="Wick"></dd>

                    <dt><label for="phone_number">phone number</label></dt>
                    <dd><input type="text" id="phone_number" name="phone_number" value="867-5309"></dd>

                    <dt><label for="email">email</label></dt>
                    <dd><input type="email" id="email" name="email" value="jwick@gmail.com"></dd>

                    <dt><label for="note"></label>note</dt>
                    <dd><textarea id="note" name="note">no one messes with john wick!</textarea></dd>
                </dl>
                <button>Create Contact</button><label for="edit_contact" roll="link" id="cancel-link">Cancel</label>
            </form>
        </article>
    </section>
</section>
