<!DOCTYPE html>
<html lang='en'>

<head>
    <title>your page title goes here</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
</head>

<body>
    <section class="page">
        <header roll="homepage-header" id="homepage-header">
            <h1>Contacts</h1>
            <div id="wrapper-add-fab">
                <label for="edit_contact" roll="link" id="add-contact"><img src="../public/images/add-fab.png" alt="add a contact"></label>
            </div>
            <form roll="search-form" method="get">
                <input type="text" id="search" name="q" placeholder="Search">
                <button><img src="../public/images/search-icon.png" alt="search"></button>
            </form>
        </header>
        <main>
            <article>
                <ul class ="contacts">
                    <li><a href="contact/100001">Adam Smith</a></li>
                    <li><a href="contact/100002">Alex Frank</a></li>
                    <li><a href="contact/100003">Alfred</a></li>
                    <li><a href="contact/100004">Arthur Clark</a></li>
                    <li><a href="contact/100005">Beatrice</a></li>
                    <li><a href="contact/100006">Beyonce Smith</a></li>
                </ul>
            </article>
        </main>
        <input type="checkbox" id=edit_contact class="hidden">
        <section class="modal">
            <article roll="edit-form-wrapper">
                <form roll="edit-form" method="get">
                    <dl>
                        <dt><label for="profile_pic">Update profile picture:</label></dt>
                        <dd><input type="file" id="profile_pic" name="profile_pic" accept="image/png, image/jpeg" size = "2097152"></dd>

                        <dt><label for="first_name">first name</label></dt>
                        <dd><input type="text" id="first_name" name="first_name" value="John" required></dd>

                        <dt><label for="last_name">last name</label></dt>
                        <dd><input type="text" id="last_name" name="last_name" value="Wick"></dd>

                        <dt><label for="phone_number">phone number</label></dt>
                        <dd><input type="text" id="phone_number" name="phone_number" value="867-5309"></dd>

                        <dt><label for="email">email</label></dt>
                        <dd><input type="email" id="email" name="email" value="jwick@gmail.com"></dd>

                        <dt><label for="note"></label>note</dt>
                        <dd><textarea id= "note" name="note">no one messes with john wick!</textarea></dd>
                    </dl>
                    <button>Create Contact</button><label for="edit_contact" roll="link" id="cancel-link">Cancel</label>
                </form>
            </article>
        </section>
    </section>
</body>

</html>