<!DOCTYPE html>
<html lang='en'>

<head>
    <title>your page title goes here</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
</head>

<body>
    <section class="page">
        <header roll="homepage-header" id="homepage-header">
            <h1>Contacts</h1>
            <img src="../public/images/add-fab.png" alt="add a contact">
            <form roll="search-form" method="get">
                <input type="text" id="search" name="q" placeholder="Search">
                <button><img src="../public/images/search-icon.png" alt="search"></button>
            </form>
        </header>
        <main>
            <article>
                <ul class ="contacts">
                    <li><a href="contact/100001">Adam Smith</a></li>
                    <li><a href="contact/100002">Alex Frank</a></li>
                    <li><a href="contact/100003">Alfred</a></li>
                    <li><a href="contact/100004">Arthur Clark</a></li>
                    <li><a href="contact/100005">Beatrice</a></li>
                    <li><a href="contact/100006">Beyonce Smith</a></li>
                </ul>
            </article>
        </main>
    </section>
</body>

</html>