<section class="page">
    <header>
        <h2>Page Not Found</h2>
    </header>
    <section class="errors">
      <section class="<%= @request_errors.empty? ? 'hidden' : '' %>">
        <h2>Database errors:</h2>
      <% @request_errors.each do |error_message| %>
      <p><%= error_message %></p>
      <% end %>
      <br>
      </section>
      <p>Go to <a href="/contacts">Contacts Homepage</a></p>
    </section>
</section>
