@import url(css-reset.css);

:root {
    --main-padding: 10px;

    --link-color: #0066cc;
    --link-cursor: pointer;
    --link-text-decoration: none;
    --link-display: inline;

    --button-outline: 3px solid black;
}

html {
    font-size: 16px;
}

body {
    background-color: lightyellow;
    display: flex;
    justify-content: center;
}

a   {
    color: var(--link-color);
    cursor: var(--link-cursor);
    text-decoration: var(--link-text-decoration);
    display: var(--link-display);
}

[roll="link"] {
    color: var(--link-color);
    cursor: var(--link-cursor);
    text-decoration: var(--link-text-decoration);
    display: var(--link-display);
}


.contacts li {
    border-bottom: 2px solid gray;
}

.contacts a {
    display: block;
}

.contacts a:hover {
    background-color: yellow;
}

.page {
    background-color: lightgreen;
}

.page > * {
    padding: var(--main-padding);
}

#homepage-header {
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header         add-fab ."
        "search-form    .       .";
}

#homepage-header h1 {
    grid-area: header;
}

#homepage-header #wrapper-add-fab {
    grid-area: add-fab;
    min-width: 13px;
}

[roll="search-form"] {
    background-color: black;
    max-width: 400px;
    max-height: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    grid-area: search-form;
}

[roll="search-form"] input {
    flex-basis: 500px
    /* flex-grow: 1 */
}


[roll="search-form"] button img {
    max-width: 70%;
    max-height: 70%;
}

#delete-button{
    color: red;
    display: block;
    margin-top: 15px;
}

button {
    min-width: 30px;
    cursor: var(--link-cursor);
}

button:hover {
    /* background-color: #04AA6D; */
    outline: var(--button-outline);
}

#cancel-link {
    background-color: blue;
    padding: 2px 5px;
    color: white;
    /* color: black; */
    font-weight: 600;
}

#cancel-link:hover {
    outline: var(--button-outline);
}

#add-contact {
    display: inline-block;
}

#add-contact:hover {
    outline: var(--button-outline);
    filter: brightness(90%);
}

h1 {
    font-size: 2.5rem; /* 40px if the base font size is 16px */
}

h2 {
  font-size: 2rem; /* 32px */
}

h3 {
  font-size: 1.75rem; /* 28px */
}

h4 {
  font-size: 1.5rem; /* 24px */
}

h5 {
  font-size: 1.25rem; /* 20px */
}

h6 {
  font-size: 1rem; /* 16px */
}

.modal {
    display: none;
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: -200px;
    height: auto;

    background-color:rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

[roll="edit-form-wrapper"] {
    background-color: lightpink;
    max-width: 500px;
    margin: 0 auto;
    padding: var(--main-padding);
}

/* [roll="edit-form"] {
    background-color: lightpink;
    max-width: 500px;
    margin: 0 auto;
} */

input#edit_contact:checked + .modal {
    display: block;
    /* color: yellow; */
    /* border: none;
    outline: 2px solid deeppink; */
}

.contacts_menu > ul {
    display: flex;
    justify-content: space-between;
}

textarea {
    height: 8em;
    width: 10em;
}

@media screen and (min-width: 680px) {
    #homepage-header {
        /* background-color: purple; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            ".              header  add-fab"
            "search-form    header  add-fab";
        height: 85px;
    }

    #homepage-header h1 {
        justify-self: center;
    }
    #homepage-header #wrapper-add-fab {
        justify-self: center;
        align-self: center;
    }
}